@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');
@import 'tailwindcss';

@theme {
  --color-mint: #00c08b;
  --color-minthover: #00ab7c;
  --color-mintactive: #00966d;

  --color-rose: #f14f4f;
  --color-rosehover: #de4949;
  --color-roseactive: #c94242;

  --color-base: #f8f9fa;
  --color-graphite: #0b2027;

  --font-base: 'Golos Text', sans-serif;
}

@layer base {
  p,
  h1,
  span {
    @apply font-base;
  }
}

@layer components {
  .text-h1 {
    @apply text-[42px] leading-[52px] font-bold;
  }
  .text-h2 {
    @apply text-[32px] leading-[40px] font-bold;
  }
  .text-h3 {
    @apply text-[28px] leading-[36px] font-semibold;
  }
  .text-h4 {
    @apply text-[20px] leading-[28px] font-semibold;
  }
  .text-h5 {
    @apply text-[16px] leading-[20px] font-semibold;
  }
  .text-L {
    @apply text-[20px] leading-[28px];
  }
  .text-M {
    @apply text-[16px] leading-[22px];
  }
  .text-S {
    @apply text-[14px] leading-[20px];
  }
  .text-XS {
    @apply text-[12px] leading-[16px];
  }
}
